body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
.container{
  height:100vh ;  
}
.bgColor{
  background-color: lightblue;
}
.main-input.input-group {
  
    min-width: 675px;
}